<div class="card-container">

  {{#if isLoggedIn}}
    <a href="/game" class="card">
      <div class="card-link-icon">
        <i class="material-symbols-outlined icon-card-size">gamepad</i>
      </div>
      <div class="card-link-titel">
        <p>Spela</p>
      </div>
    </a>
    <a href="/about" class="card">
      <div class="card-link-icon">
        <i class="material-symbols-outlined icon-card-size">info</i>
      </div>
      <div class="card-link-titel">
        <p>Om</p>
      </div>
    </a>
  {{else}}
    <a href="/login" class="card">
      <div class="card-link-icon">
        <i class="material-symbols-outlined icon-card-size">login</i>
      </div>
      <div class="card-link-titel">
        <p>Log In</p>
      </div>
    </a>
    <a href="/signup" class="card">
      <div class="card-link-icon">
        <i class="material-symbols-outlined icon-card-size">add</i>
      </div>
      <div class="card-link-titel">
        <p>Sign up</p>
      </div>
    </a>
  {{/if}}
</div>